/* STEP 3: Apply basic layout styles */
/* Universal box-sizing with inheritance (https://css-tricks.com/box-sizing/#article-header-id-6) */
html {

}
*, *:before, *:after {

}
/* STEP 5a: Remove all diagnostic colors and margins from HEADER, MAIN, and FOOTER */
body {

}
/* STEP 5b: Change the colors for the HEADER and FOOTER */
header {

	/* STEP 6: Layout the H1 and NAV horzontally in the HEADER */

}
/* STEP 7: Make links look better */
header nav a {

}
/* STEP 10: Style hamburger menu button */
#menu-icon {

}
header nav ul {
	/* STEP 9: Hide the horizontal navigation list for small screens */

	/* STEP 8: Style the navigation menu such that it is now a box that sits just under the hamburger menu button */

}
/* STEP 12: Ensure links are full-width and easy to touch */
header nav ul a {

}
header nav ul a:hover {
	background-color: #CCC;
	color: white;
}
/* STEP 11: Reveal the navigation menu when the hamburger button is hovered over */
header nav:hover ul {

}
main {

}
header, section, footer {

}
footer {

}
/* STEP 4a: Build media query breakpoint for bigger screens (2-column layout) */
@media only screen and () {
	h1 {

	}
	/* STEP 14: Size up hamburger icon a bit to match main heading */
	#menu-icon {

	}
	main {

	}
	main section {

	}
}
/* STEP 4b: Add another media query breakpoint for even bigger screens (4-column layout) */
@media only screen and () {
	/* STEP 13a: Rearrange the navigation so that we don't use the hamburger */
	#menu-icon {

	}
	/* STEP 13b: Stack the H1 and the NAV in a column */
	header {

	}
	/* STEP 13c: Null out the hover behaviour on the HEADER NAV, and render the UL horizontally across the screen in full-width, distributing the links inside */
	header nav ul, header nav:hover ul {

	}
	/* STEP 13d: Size up the HEADER NAV links */
	header nav ul a {

	}
	/* STEP 4c: Use flexbox to create the 4-column layout */
	main {

	}
	main section {

	}
}
/* STEP 4d: Try to capture orientation landscape as well using OR with the 2-column layout breakpoint (use a comma) in STEP 4a */

/* STEP 15: Clip out the CSS, put it into an external file, and try this file on a real mobile device */

/* Hat tip to Matt Helme for his elegant and simple CSS-only mobile menu technique - http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu */
